<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.darksoul.mapper.PersonalusermessageAddMapper">


    <insert id="personal_messageadd" parameterType="personal_introduceman">
        insert into personal_introduceman (PersonalUserid, PersonalreviewID, materialsname, materialsadjunct) values(#{PersonalUserid}, #{PersonalreviewID},#{materialsname},#{materialsadjunct});

    </insert>

    <insert id="personaladdohtners" parameterType="personal_others">
        insert into personal_others (PersonalUserid, PersonalreviewID, title, Projectscan) VALUES (#{PersonalUserid},#{PersonalreviewID},#{title},#{Projectscan});

    </insert>


    <insert id="personaladd_research_materials" parameterType="personal_research_materials">
        insert into personal_research_materials (PersonalUserid, PersonalreviewID, starttime, stoptime, workunit, job, jobcontent, assistcertify) values (#{PersonalUserid},#{PersonalreviewID},
        #{starttime},#{stoptime},#{workunit},#{job},#{jobcontent},#{assistcertify});
    </insert>

    <insert id="bookaddtest" parameterType="bookcase">
        insert into bookcase (id,name) values(#{id},#{name});
    </insert>

    <insert id="personaladd_basic_message" parameterType="personal_basic_message">
        insert into personal_basic_message (PersonalUserid, PersonalreviewID, unit, unitlevel, personalidentitynature, reviewyear, name,
        nameformer, sex, nation, idnumber, birthday, fillingtime, startworktime, workingyears, reviewmeeting,
        wantprofessionseries, wantmajor, wantmajorstatus, executivefunction, executivefunctiontime,
        executivefunctionexplatin, phone, email, fileorganizationname, politicsstatus, nativeplace, address,
        idcardfront, idcardcontrary, manphoto) values (#{PersonalUserid},#{PersonalreviewID},
        #{unit},#{unitlevel},#{personalidentitynature},#{reviewyear},#{name},#{nameformer},#{sex},#{nation},#{idnumber},
        #{birthday},#{fillingtime},#{startworktime},#{workingyears},#{reviewmeeting},#{wantprofessionseries},#{wantmajor},
        #{wantmajorstatus},#{executivefunction},#{executivefunctiontime},#{executivefunctionexplatin},#{phone},#{email},
        #{fileorganizationname},#{politicsstatus},#{nativeplace},#{address},#{idcardfront},#{idcardcontrary},#{manphoto});
    </insert>


</mapper>