<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.darksoul.mapper.personaluserMapper">
    <select id="QueryAllUser" resultType="personaluser">
        select * from personaluser;
    </select>

    <select id="GetUserpwdbyphonenumber" parameterType="java.lang.String" resultType="java.lang.String">
        select Password from personaluser where Phonenumber=#{userphonenumber};
    </select>


</mapper>