<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.darksoul.mapper.PersonalusermessageUpdateMapper">

    <update id="personal_others_update" parameterType="personal_others">

    update personal_others set title=#{title},projectscan=#{projectscan} where PersonalUserid=#{PersonalUserid};
</update>


    <update id="personal_introduceman_update" parameterType="personal_introduceman">
        update personal_introduceman set materialsname=#{materialsname},materialsadjunct=#{materialsadjunct} where PersonalUserid=#{PersonalUserid};
    </update>

    <update id="personal_research_materials_update" parameterType="personal_research_materials">
        update personal_research_materials set starttime=#{starttime},stoptime=#{stoptime},workunit=#{workunit},job=#{job},jobcontent=#{jobcontent},
        assistcertify=#{assistcertify} where PersonalUserid=#{PersonalUserid};
    </update>

    <update id="personal_basic_message_update" parameterType="personal_basic_message">
        update personal_basic_message set
        unit=#{unit},unitlevel=#{unitlevel},personalidentitynature=#{personalidentitynature},reviewyear=#{reviewyear},name=#{name},nameformer=#{nameformer},sex=#{sex},nation=#{nation},idnumber=#{idnumber},
        birthday=#{birthday},fillingtime=#{fillingtime},startworktime=#{startworktime},workingyears=#{workingyears},reviewmeeting=#{reviewmeeting},wantprofessionseries=#{wantprofessionseries},wantmajor=#{wantmajor},
        wantmajorstatus=#{wantmajorstatus},executivefunction=#{executivefunction},executivefunctiontime=#{executivefunctiontime},executivefunctionexplatin=#{executivefunctionexplatin},phone=#{phone},email=#{email},
        fileorganizationname=#{fileorganizationname},politicsstatus=#{politicsstatus},nativeplace=#{nativeplace},address=#{address},idcardfront=#{idcardfront},idcardcontrary=#{idcardcontrary},manphoto=#{manphoto} where
        PersonalUserid=#{PersonalUserid};
    </update>

</mapper>