<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.darksoul.mapper.PersonaluserMapper">
    <select id="QueryAllUser" resultType="personaluser">
        select * from personaluser;
    </select>

    <select id="GetUserpwdbyphonenumber" parameterType="java.lang.String" resultType="java.lang.String">
        select Password from personaluser where Phonenumber=#{userphonenumber};
    </select>


    <!--通过id查询用户-->
    <select id="QueryAllUserbyid" parameterType="java.lang.String" resultType="personaluser">
        select * from personaluser where PersonalUserid=#{PersonalUserid};
    </select>

    <!--通过phone查询信息-->
    <select id="GetUseridbyphonenumber" parameterType="java.lang.String" resultType="personaluser">
        select p.PersonalUserid from personaluser p where Phonenumber=#{userphonenumber};
    </select>

    <update id="personaluserchangepassword" parameterType="java.lang.String">
        update personaluser set password=#{password} where PersonalUserid=#{PersonalUserid};
    </update>

</mapper>