<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.darksoul.mapper.PersonalusermessageAddMapper">


    <insert id="personal_messageadd" parameterType="personal_introduceman">
        insert into personal_introduceman (PersonalUserid, PersonalreviewID, materialsname, materialsadjunct) values(#{PersonalUserid}, #{PersonalreviewID},#{materialsname},#{materialsadjunct});

    </insert>

    <insert id="personaladdohtners" parameterType="personal_others">
        insert into personal_others (PersonalUserid, PersonalreviewID, title, projectscan) VALUES (#{PersonalUserid},#{PersonalreviewID},#{title},#{projectscan});

    </insert>


    <insert id="personaladd_research_materials" parameterType="personal_research_materials">
        insert into personal_research_materials (PersonalUserid, PersonalreviewID, starttime, stoptime, workunit, job, jobcontent, assistcertify) values (#{PersonalUserid},#{PersonalreviewID},
        #{starttime},#{stoptime},#{workunit},#{job},#{jobcontent},#{assistcertify});
    </insert>

    <insert id="bookaddtest" parameterType="bookcase">
        insert into bookcase (id,name) values(#{id},#{name});
    </insert>

    <insert id="personaladd_basic_message" parameterType="personal_basic_message">
        insert into personal_basic_message (PersonalUserid, PersonalreviewID, unit, unitlevel, personalidentitynature, reviewyear, name,
        nameformer, sex, nation, idnumber, birthday, fillingtime, startworktime, workingyears, reviewmeeting,
        wantprofessionseries, wantmajor, wantmajorstatus, executivefunction, executivefunctiontime,
        executivefunctionexplatin, phone, email, fileorganizationname, politicsstatus, nativeplace, address,
        idcardfront, idcardcontrary, manphoto) values (#{PersonalUserid},#{PersonalreviewID},
        #{unit},#{unitlevel},#{personalidentitynature},#{reviewyear},#{name},#{nameformer},#{sex},#{nation},#{idnumber},
        #{birthday},#{fillingtime},#{startworktime},#{workingyears},#{reviewmeeting},#{wantprofessionseries},#{wantmajor},
        #{wantmajorstatus},#{executivefunction},#{executivefunctiontime},#{executivefunctionexplatin},#{phone},#{email},
        #{fileorganizationname},#{politicsstatus},#{nativeplace},#{address},#{idcardfront},#{idcardcontrary},#{manphoto});
    </insert>

<insert id="PersonalAdd_education" parameterType="personal_education">
    insert into personal_education (PersonalUserid, PersonalreviewID, graduationtime, graduationschool, educationproject, major, education, degree, lengthofschooling, educationid, educationdegreecredential)
    values (#{PersonalUserid},#{PersonalreviewID},#{graduationtime},#{graduationschool},#{educationproject},#{major},#{education},#{degree},#{lengthofschooling},#{educationid},#{educationdegreecredential});
</insert>


    <insert id="PersonalAdd_major_experience" parameterType="personal_major_experience">
        insert into personal_major_experience (PersonalUserid, PersonalreviewID, starttime, whereschoolwork, endtime, post, workunit, certifyman, helpcertify) VALUES
        (#{PersonalUserid},#{PersonalreviewID},#{starttime},#{whereschoolwork},#{endtime},#{post},#{workunit},#{certifyman},#{helpcertify});
    </insert>

    <insert id="PersonalAdd_occupational_qualification" parameterType="personal_occupational_qualification">
        insert into personal_occupational_qualification (PersonalUserid, PersonalreviewID, qualificationname, gettime, ratifyoffice, majorname, credentialnumber, assistcertify)
        values (#{PersonalUserid},#{PersonalreviewID},#{qualificationname},#{gettime},#{ratifyoffice},#{majorname},#{credentialnumber},#{assistcertify});
    </insert>

    <insert id="PersonalAdd_paper_patents_add" parameterType="personal_paper_patents">
        insert into personal_paper_patents (PersonalUserid, PersonalreviewID, publishtime, paperclasses, role, ifmagnumopus, insertperiodical, authorityindexes, yearperiodical, reward, papername, ifrecommend, paperlevel, papercover, papercatalog, papercontent)
        values (#{PersonalUserid},#{PersonalreviewID},#{publishtime},#{paperclasses},#{role},#{ifmagnumopus},#{insertperiodical},#{authorityindexes},#{yearperiodical},#{reward},#{papername},#{ifrecommend},#{paperlevel},#{papercover},#{papercatalog},#{papercontent});
    </insert>

    <insert id="PersonalAdd_performance_achievement_add" parameterType="personal_performance_achievement">
        insert into personal_performance_achievement (PersonalUserid, PersonalreviewID, performancename, starttime, stoptime, projectlevel, projectcontent, personaleffect, achievementeffect, projectscan, personalprojectscan, projectawardsscan)
        values (#{PersonalUserid},#{PersonalreviewID},#{performancename},#{starttime},#{stoptime},#{projectlevel},#{projectcontent},#{personaleffect},#{achievementeffect},#{projectscan},#{personalprojectscan},#{projectawardsscan});
    </insert>

    <insert id="PersonalAdd_performance_awards_add" parameterType="personal_performance_awards">
        insert into personal_performance_awards (PersonalUserid, PersonalreviewID, projectname, awardslevel, awardtime, awardorganization, content, assistcertify) values
        (#{PersonalUserid},#{PersonalreviewID},#{projectname},#{awardslevel},#{awardtime},#{awardorganization},#{content},#{assistcertify});
    </insert>

    <insert id="PersonalAdd_performance_patents_add" parameterType="personal_performance_patents">
       insert into personal_performance_patents (PersonalUserid, PersonalreviewID, patentsname, patentstype, gettime, patentsintroduce, assistcertify) VALUES
       (#{PersonalUserid},#{PersonalreviewID},#{patentsname},#{patentstype},#{gettime},#{patentsintroduce},#{assistcertify});
    </insert>

    <insert id="PersonalAdd_reviewall_add" parameterType="personal_reviewall">
       insert into personal_reviewall (PersonalUserid, PersonalreviewID, reviewdate, review, reviewstatusname, reviewname, reviewlevel, createdate, reviewhandintime,reviewstate) VALUES
      (#{PersonalUserid},#{PersonalreviewID},#{reviewdate},#{review},#{reviewstatusname},#{reviewname},#{reviewlevel},#{createdate},#{reviewhandintime},#{reviewstate});
    </insert>

    <insert id="PersonalAdd_worksummary_add" parameterType="personal_worksummary">
        insert into personal_worksummary (PersonalUserid, PersonalreviewID, worksummary) VALUES (#{PersonalUserid},#{PersonalreviewID},#{worksummary});
    </insert>

   <insert id="PersonalAdd_Personaluser_add" parameterType="personaluser">
       insert into personaluser (PersonalUserid, PersonalUsername, password, unitusername, email, phonenumber, headphoto, createdate) VALUES
      (#{PersonalUserid},#{PersonalUsername},#{password},#{unitusername},#{email},#{phonenumber},#{headphoto},#{createdate});
   </insert>
</mapper>